/tmp
/web

__pycache__/
*.py[cod]
admin/.venv/
admin/staticfiles/

.env
.env.prod

media/*
!media/photos/
media/photos/*
!media/photos/default.jpeg
!media/photos/seed-*.png

notes.txt
notes.py
PLAN.md

.backup_data/
fly.toml
